In [22]:
import numpy as np
import pandas as pd
import cv2
import sqlalchemy as alch

In [7]:
index=["color", "color_name", "hex", "R", "G", "B"]
color_csv = pd.read_csv('datasets/colors.csv', names=index, header=None)

In [8]:
color_csv

                    color             color_name      hex    R    G    B
0      air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
1     air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
2    air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
3         alabama_crimson        Alabama Crimson  #a32638  163   38   56
4              alice_blue             Alice Blue  #f0f8ff  240  248  255
..                    ...                    ...      ...  ...  ...  ...
860         yellow_orange          Yellow Orange  #ffae42  255  174   66
861        yellow_process       Yellow (Process)  #ffef00  255  239    0
862            yellow_ryb           Yellow (Ryb)  #fefe33  254  254   51
863                zaffre                 Zaffre  #0014a8    0   20  168
864     zinnwaldite_brown      Zinnwaldite Brown  #2c1608   44   22    8

[865 rows x 6 columns]

In [23]:
from dotenv import load_dotenv
load_dotenv()

password = os.getenv("sql_pass")
dbName="final_project"

connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [25]:
#do not execute again!
#color_csv.to_sql("colors", if_exists="append", con=engine)

865